body{
    background-image: url("../images/back.jpg");
}

p{
    color:white;
    text-shadow: -1px -1px 0 rgb(66, 8, 27);
}
.buttons-display{
    margin-top: 20px;
}

.btn{
    margin-left: 10px;
    margin-right: 10px;
}